# Iris

This notebook is created by Butial, Aivann Paul

* The [Iris dataset](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html) is accessible in scikit-learn's datasets.
* The objectives of this projects are to perform data cleaning, exploratory data analysis (EDA), model training (`Logistic Regression`, `Decision Tree`, and `K-Nearest Neighbor`), and model evaluation.

## Data Cleaning

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

data = load_iris(as_frame=True)

In [2]:
data.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

The dataset has four numerical features: `sepal length`, `sepal width`, `petal length`, and `petal width`. All measurements are in centimeters (cm).

In [3]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

The dataset has three classes: `setosa`, `versicolor`, and `virginica`.

The mapping of the classes to their numerical values is as follows:
* setosa: 0
* versicolor: 1
* virginica: 2

In [4]:
X = data.data
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [5]:
y = data.target
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

In [6]:
print(f"X shape: {X.shape}")
print(f"y shape: {y.shape}")

X shape: (150, 4)
y shape: (150,)

The dataset only has 150 instances.

In [7]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

All features have no null values and are of float64 data type.

In [8]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 150 entries, 0 to 149
Series name: target
Non-Null Count  Dtype
--------------  -----
150 non-null    int64
dtypes: int64(1)
memory usage: 1.3 KB

Similarly, the target also has no null values and has a float64 data type.

Considering that the features and target are already clean, no data cleaning steps will be performed.